* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #666;
    text-decoration: none;
}

ul li {
    list-style: none;
}

input {
    border: none;
    margin: 0;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
}